<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/coach-view.css" />
    <title>Offensive Line - Coach View</title>
</head>

<body>
    <interior-body>
        <!-- Table to Select Players -->
        <table>
            <th scope="col">Player Name</th>
            <th scope="col">Grad Year</th>
            <th scope="col">Position</th>
        </table>
    </interior-body>
</body>

</html>
