<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/student-view.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Offensive Line - Forms View</title>
</head>

<body>
    <interior-body>
        
        <!--forms page to add data-->
        <div>
        <form>
            <label for = "month">Month: </label>
            <input type= "number" name = "month"> <br>

            <label for = "year">Year: </label>
            <input type="text" name = "year"> <br>

            <label for = "position">Position: </label>
            <input type="text" name = "position"> <br>

            <label for = "grade">Grade: </label>
            <input type="number" name = "Grade"> <br>

            <label for = "height">Height: </label>
            <input type="number" name = "height"> <br>

            <label for = "weight">Weight: </label>
            <input type="number" name = "weight"> <br>

            <label for = "squat">Squat: </label>
            <input type="number" name = "squat"> <br>

            <label for = "bench">Bench: </label>
            <input type="number" name = "bench"> <br>

            <label for = "bench_squat">Bench_Squat: </label>
            <input type="number" name = "bench_squat"> <br>

            <label for = "total">Total: </label>
            <input type="number" name = "total"> <br>

            <label for = "vertical">Vertical: </label>
            <input type="number" name = "vertical"> <br>

            <label for = "pro_average">Pro_average: </label>
            <input type="number" name = "pro_average"> <br>

            <label for = "group">Group: </label>
            <input type="text" name = "group"> <br>

            <label for = "elite">Elite: </label>
            <input type="checkbox" name = "elite"> <br>

            <label for = "player_height_score">Player_Height_Score: </label>
            <input type="number" name = "player_height_score"> <br>

            <label for = "active">Active: </label>
            <input type="text" name = "active"> <br>

            <label for = "athlete_id">Athlete_id: </label>
            <input type="text" name = "athlete_id"> <br>
  


        </form>
        </div>
    </interior-body>
</body>

</html>
