<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Offensive Line - Student View</title>
</head>

<body>
    <interior-body>
        <div>
            <!-- Player Info Area at the top of the window -->
            <player-name id="playerName">Player Name</player-name>
            <player-stats>
                <player-age>Age:</player-age><br />
                <player-year>Year:</player-year><br />
                <player-height>Height:</player-height><br />
                <player-weight>Weight:</player-weight><br />
                <player-number>Jersey Number:</player-number>
            </player-stats>
            <player-stats class="stat-value">
                <player-age id="playerAge">0</player-age><br />
                <player-year id="playerYear">Senior</player-year><br />
                <player-height id="playerHeight">0' 0"</player-height><br />
                <player-weight id="playerWeight">0 lbs</player-weight><br />
                <player-number id="playerNumber">00</player-number>
            </player-stats>
            <img class="player-photo" id="playerPhoto"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjL5uRukQxddVG8oeVQpPttaiZotrzgbf71xYUUvRjJTepPztXlK-aI5YMKoNacRmMIm4:https://mario.wiki.gallery/images/thumb/2/27/SuperMarioParty_Waluigi.png/640px-SuperMarioParty_Waluigi.png&usqp=CAU"></img>
            <grade-display>0.0</grade-display>
        </div>
        <div>
            <!-- Graph/Table -->
            <div class="student-graph">
                <canvas id="studentGraph"></canvas>
            </div>
            <script>
                const data = [
                {x: 1, y: 1.0},
                {x: 2, y: 1.5},
                {x: 3, y: 1.0},
                {x: 4, y: 1.0},
                {x: 5, y: 1.5},
                {x: 6, y: 1.0},
                {x: 7, y: .5},
                {x: 8, y: 1.5},
                ]
                new Chart(
                    document.getElementById('studentGraph'),
                    {
                        type: 'line',
                        data: {
                            labels: ['Freshman Sem 1', 'Freshman Sem 2', 'Sophmore Sem 1', 'Sophmore Sem 2', 'Junior Sem 1', 'Junior Sem 2', 'Senior Sem 2', 'Senior Sem 2'],
                            datasets: [
                                {
                                    label: 'Grade',
                                    data: data.map(row => row.y),
                                    fill: false,
                                    borderColor: 'rgb(0,0,128)',
                                    tension: 0.0,
                                }]
                        },
                        options: {
                            maintainAspectRatio: false,
                            scales: {
                                y: {
                                    type: 'linear',
                                    suggestedMax: 2,
                                    suggestedMin: 0,
                                    ticks: {
                                        stepSize: 0.2
                                    },
                                }
                            }
                        }
                    });
            </script>
        </div>
    </interior-body>
</body>

</html>