body {
    background-color: crimson;
}

interior-body {
    background-color: white;
    height: 100vh;
    width: 50vw;
    position: fixed;
    top: 5vh;
    left: 25vw;
    font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-color:navy;
    border-width: 10px;
    border-style: solid;
}

player-name {
    position: absolute;
    top: 100px;
    right: 10%;
    font-size: 3vh;
    font-weight: bolder;
    border-bottom: 10px;
    border-color: navy;
    border-bottom-style: solid;
    width: 20vw;
    height: 4vh;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
}

.player-photo {
    position: absolute;
    left: 10%;
    top: 100px;
    width: 15vw;
    height: 20vw;
}

player-stats {
    position: absolute;
    right: 30%;
    top: calc(125px + 4vh);
    width: 10vw;
    height: 2vh;
    font-size: 2vh;
    font-weight: bold;
    line-height: 2.5vh;
    white-space: nowrap;
}

.stat-value {
    text-align: right;
    right: 10%
}

grade-display {
    text-align: center;
    color: crimson;
    font-size: 4vh;
    font-weight: bold;
    border-width: 10px;
    border-style: solid;
    border-color: navy;
    background-color: white;
    width: 10%;
    height: 5vh;
    position: absolute;
    top: 60vh;
    right: 45%;
}
